.logo{
   z-index:1;
}
body{
  background-color:;
}
h1{
   color:white;
   background-color:black;
   text-align:center;
}
p{
  font-family:;
  font-size:30px;
  color:black;
}
ul{
 color:black;
}
h3{
  color:black;
}
.container{

}
.navbar{
    background-color:;
    color:white;
    padding:30px;
    margin: 30px;
    border:30px;
}


